<div class="toolbar" horizontal layout center>
    <i class="fa fa-share-alt fa-inverse fa-2x"></i>
    <h2>Network Visualization Toolkit</h2>
</div>
<div class="main" vertical layout>
    <div horizontal layout>
        <div class="sidebar" vertical layout>
            <button class="pure-button" {{action 'pause'}}>
            {{#if pause}}
            <i class="fa fa-play"></i> Play
            {{else}}
            <i class="fa fa-pause"></i> Pause
            {{/if}}
            </button>
            {{#each nodes}}
            <div class="menu-item">
                <div horizontal layout flex center>
                    {{input type="checkbox" checked=isStalling}}
                    <h4 {{bind-attr class="isStalling"}} flex>{{name}}</h4>
                    {{sparkline-chart values=bandwidthHistory}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="content" vertical layout flex>
            <div class="card" flex>
                {{network-graph nodes=nodes links=links zones=zones}}
            </div>
            <br>
            <div class="card">
                {{line-chart data=nodesForLineChart}}
            </div>
        </div>
    </div>
</div>

<cheat-code></cheat-code>

<paper-dialog heading="Credits" center>
    <p>Made with love by: </p>
    <div horizontal layout>
        <polymer-github-card user="iamolivinius"></polymer-github-card>
        <div class="horizontal-space-20"></div>
        <polymer-github-card user="m4rcs"></polymer-github-card>
    </div>
    <paper-button label="Close" affirmative autofocus></paper-button>
</paper-dialog>
